#content ul {
	width: 70%;
	margin: auto;
	padding: 10px 0;
}
#content ul, #content li {
	text-align: center;
	font-size: 20px;
	line-height: 35px;
	list-style-type: none;
}
#content li {
	border-top: 1px solid rgba(0,0,0,0.3);
	width: 100%;
	margin: auto;
}
@media all and (min-width: 768px) {
	div#content {
		width: 90%;
		margin: auto;
		height: 200px;
	}
	#content ul {
		float: left;
		width: 38%;
		margin: auto 5%;
	}
}